.Game-logo {
  height: 30vmin;
  pointer-events: none;
}

.Page-header {  
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  height: 35vmin;
}

.Torch {
  height: 15vmin;
  pointer-events: none;
}